@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
  font-family: "Roboto";
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #1f2937;
  color: white;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container ul {
  display: flex;
  gap: 32px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container h3 {
  font-weight: bolder;
  font-size: 24px;
  color: #f9faf8;
}

.header {
  background-color: #1f2937;
  display: flex;
  padding: 64px;
  justify-content: space-around;
  align-items: center;
}
.header button {
  background-color: #3882f6;
  border: 0;
  padding: 0;
  border-radius: 4px;
  flex-basis: 32px;
  color: white;
  font-weight: bold;
  /* change button */
  width: 114px;
}
.header button:hover {
  background-color: white;
  color: #3882f6;
}
.content {
  display: flex;
  flex-flow: column wrap;
  width: 30%;
}

.header h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
  padding: 0;
  margin: 0;
}

.header p,
.container ul li {
  font-size: 18px;
  color: #e5e7eb;
}
