@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  font-family: "Roboto";
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #1f2937;
  color: white;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container ul {
  display: flex;
  gap: 32px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container h3 {
  font-size: 24px;
  color: #f9faf8;
}

.header {
  background-color: #1f2937;
  display: flex;
  padding: 64px;
  justify-content: space-around;
  align-items: center;
}
.header button {
  background-color: #3882f6;
  border: 0;
  padding: 0;
  border-radius: 6px;
  flex-basis: 32px;
  color: white;
  font-weight: 700;
  /* change button */
  width: 114px;
}
.header button:hover {
  background-color: white;
  color: #3882f6;
}
.content {
  display: flex;
  flex-flow: column wrap;
  width: 30%;
}

.header h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  padding: 0;
  margin: 0;
}

.header p,
.container ul li {
  font-size: 18px;
  color: #e5e7eb;
}

.random-info h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  padding: 20px;
}

.infos {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.info-with-text {
  margin-right: 64px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-with-text p {
  text-align: center;
}

.random-info {
  height: 450px;
}

.infos .img-container {
  border: 3.5px solid #3882f6 !important;
  height: 150px;
  width: 150px;
  border-radius: 10px;
}

.quote-container {
  background-color: #e5e7eb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px;
}

.quote-section p {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}

.quote-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 66%;
  height: 250px;
}

.quote-section h2 {
  padding-top: 0;
}

.sign-up-box-container {
  height: 325px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text h2,
.text p {
  padding: 0;
  margin: 0;
}

.text {
  margin: 0;
  color: #e5e7eb;
}

.sign-up-box {
  justify-content: space-around;
  align-items: center;
  display: flex;
  border-radius: 10px;
  background-color: #3882f6;
  height: 45%;
  width: 75%;
}

.sign-up-box button {
  background-color: #3882f6;
  border: 0;
  font-size: 1em;
  padding: 0;
  border-radius: 6px;
  flex-basis: 120px;
  padding: 7px;
  color: white;
  font-weight: 700;
  border: 1.5px solid #e5e7eb;
}

.sign-up-box button:hover {
  background-color: white;
  color: #3882f6;
  border-color: #3882f6;
}
